

#hero{
    background-image:url("home.jpg") ;
    background-size: cover;
    background-position: left;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}


#Work{
    background-image:url("wave.jpg");
    
    background-size:cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
